/* Moves main document below nav bar*/
.below_menu_container {
  padding-top: 120px;}

#logoimg {float:left; padding: 10px; width:100px; height:80px;}

.cookie {width:20px; height:20px;}
.jumbostyle {background-color:#d9d9d9;}